.img{
    object-fit: cover;
    width: 100%;
    
    margin-top: 5px;
    margin-bottom: 20px;

}

.categoria{
    color: lightgray;   
    text-transform: capitalize;
    margin-top: 0px;
    text-shadow: 0px 0px 3px rgb(5, 5, 5);
}
.titulo{
    text-transform: capitalize;
    text-decoration: none;
    
}
.subtitulo{
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: normal;
}

.desarrollo{
    margin-top: 50px;
}
body{
    background-color: rgba(189, 189, 189, 0.329);
}